<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Boas-Vindas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header class="header">
        <a href='/index' class="logo">
            <img src="/img/Group 25.png" alt="logo">
        </a>
        <h2>Bem-vindo, <%= req.session.usuario %>!</h2> <!-- Agora funciona corretamente -->
    </header>

    <div class="container">
        <h2>Conteúdo da Página de Boas-Vindas</h2>
        <!-- Adicione mais conteúdo aqui -->
    </div>

    <footer class="footer">
        <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
